
/* -- LAYOUT STYLING -- */

.outer-container {
  width: var(--outer-container-size);
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px dashed red; */
}

.inner-container {
  flex-basis: var(--inner-container-size);
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0 var(--inner-container-margin);
  /* border: 1px dashed blue; */
}

main {
  padding: 2rem 0;
 
}